In [ ]:
a = 5

In [ ]:
b = a*4
b

## Arithmetic Operations

In [ ]:
r = 1500
t = 0.2


total = r * (1 + t)
total

In [ ]:
2!=3

and or not

In [ ]:
(10>5) and (10<5)

## List

In [2]:
l = [10,20,30,40]

In [3]:
l = [10, 'test1234','mest', [40,10], 123, 8.4]

In [ ]:
l[0] =11

[11, 'test1234', 'mest', [40, 10], 123, 8.4]

In [6]:
len(l[1])

8

In [ ]:
len(l)

In [ ]:
l.append(50)

In [7]:
l = ['data1.csv', 'data2.csv', 'data3.csv']

## Tuple

In [8]:
t = (10, 12, 13)

```sql
INSERT INTO TABLE ... VALUES
(value1, value2)
```

## Set

In [11]:
my_list = [1, 2, 3, 4, 5,5,5,5,5]

In [14]:
my_set = set(my_list)
new_l = list(my_set)
new_l

[1, 2, 3, 4, 5]

In [9]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

In [10]:
a.intersection(b)

{4, 5}

## Dictionary

In [17]:
# key value pairs
customers = {
             'Alice': 25, 
             'Bob': 30, 
             'Charlie': 35,
             'Charlie': 31,
             'Charlie': [32,2]
             }

In [18]:
customers

{'Alice': 25, 'Bob': 30, 'Charlie': [32, 2]}

In [ ]:
customers['Alice'] = 30

In [ ]:
customers

In [19]:
customer = {'name': 'Alice', 'age': 30, 'city': 'New York'}
customer['State'] = 'NY'
customer['Segment'] = 'Premium'

In [20]:
customer1 = customer
customer1

{'name': 'Alice',
 'age': 30,
 'city': 'New York',
 'State': 'NY',
 'Segment': 'Premium'}

In [21]:
# Bob
customer2 = {'name': 'Bob', 'age': 25, 'city': 'Los Angeles', 'State': 'CA', 'Segment': 'Standard'}

In [22]:
# Armen
customer3 = {'name': 'Armen', 'age': 28, 'city': 'Chicago', 'State': 'IL'}

In [23]:
list_of_customers = [customer1, customer2, customer3]

In [24]:
list_of_customers

[{'name': 'Alice',
  'age': 30,
  'city': 'New York',
  'State': 'NY',
  'Segment': 'Premium'},
 {'name': 'Bob',
  'age': 25,
  'city': 'Los Angeles',
  'State': 'CA',
  'Segment': 'Standard'},
 {'name': 'Armen', 'age': 28, 'city': 'Chicago', 'State': 'IL'}]

In [25]:
list(list_of_customers[0].keys())

['name', 'age', 'city', 'State', 'Segment']

In [26]:
l = [10,20,30,40]
d = {'key', 'value'}

## Pandas

In [4]:

import pandas as pd

In [5]:
data = {'name': ['Alice', 'Bob', 'Charlie','David','Armen'], 
        'age': [30, 25, 28, 35, 42], 
        'city': ['New York', 'Los Angeles', 'Chicago', 'Boston', 'San Francisco'],
        'revenue': [10000, 15000, 12000, 20000, 18000],
        'segment': ['Premium', 'Premium', 'Premium', 'Standard', 'Premium'],}

In [7]:
df = pd.DataFrame(data)
df.head()

      name  age           city  revenue   segment
0    Alice   30       New York    10000   Premium
1      Bob   25    Los Angeles    15000   Premium
2  Charlie   28        Chicago    12000   Premium
3    David   35         Boston    20000  Standard
4    Armen   42  San Francisco    18000   Premium

In [9]:
l = [10,20,30,50]

l2 = [i**2 for i in l]

In [40]:
df.loc[df["revenue"] > 12000,"segment"] = "High Revenue"

In [41]:
df.head()

      name  age           city  revenue       segment
0    Alice   30       New York    10000       Premium
1      Bob   25    Los Angeles    15000  High Revenue
2  Charlie   28        Chicago    12000       Premium
3    David   35         Boston    20000  High Revenue
4    Armen   42  San Francisco    18000  High Revenue

In [ ]:
revenue = 101

if revenue > 100:
    print("High revenue")
    print(f"Because the revenue is: {revenue}")
    
else:
    print("Low Revenue")

print("Analysis complete")

High revenue
Because the revenue is 101
Analysis complete

In [ ]:
revenue = 100

if revenue > 200:
    print(f"Very high revenue: {revenue}")
elif revenue > 100:
    print(f"High revenue: {revenue}")
elif revenue > 50:
    print(f"Medium revenue: {revenue}")
else:
    print(f"Low revenue: {revenue}")

Medium revenue: 100

In [55]:
b = 5
a = 6

In [ ]:
a = b
a

5

In [58]:
a != b

True

In [64]:
revenue = 150
is_active = False

if revenue > 100 or is_active:
    print("Target customer")

Target customer

In [65]:
if is_active:
    print("Customer is active")

In [76]:
a = 6
b = 5

In [ ]:
a = a +b
a

11

In [75]:
c = a
a = b
b = c

In [77]:
a = a + b

In [79]:
b = a - b
a = a - b

In [84]:
print(f" a is equal to: {a}  \n b is equal to: {b}")

 a is equal to: 6
 b is equal to: 5

In [93]:
print(revenue)
if revenue == 150:
    print("Equal")

150
Equal

In [90]:
a = 5; b = 10; c = 15

In [94]:
if revenue > 100:
    print("High")

High

In [95]:
list_of_data_sources = ['data1.csv', 'data2.csv', 'data3.csv']

In [97]:
for i in list_of_data_sources:
    print(f'then name of current data source is: {i}')

print("Exit loop")

then name of current data source is: data1.csv
then name of current data source is: data2.csv
then name of current data source is: data3.csv
Exit loop

In [ ]:
number_of_clicks = 0

for i in range(100):
    number_of_clicks = i + 1

number_of_clicks

5

In [101]:
sales = [100, 200, 150, 50]

for value in sales:
    if value > 120:
        print("High sale:", value)
    else:
        print("Low sale:", value)

Low sale: 100
High sale: 200
High sale: 150
Low sale: 50

In [ ]:
customer = {
    "name": "Anna",
    "revenue": 150,
    "city": "Yerevan"
}

In [107]:
customer.keys()
customer['name']

'Anna'

In [108]:
customer['city']

'Yerevan'

In [111]:
customer['revenue']

150

In [2]:
customer = {
    "name": ["Anna", "Gagik"],
    "revenue": [150, 200],
    "city": ["Yerevan"]
}

customer

{'name': ['Anna', 'Gagik'], 'revenue': [150, 200], 'city': ['Yerevan']}

In [3]:
customer.items()

dict_items([('name', ['Anna', 'Gagik']), ('revenue', [150, 200]), ('city', ['Yerevan'])])

In [6]:

for key, value in customer.items():
    print(key)
    print(key, ":", customer[key][1])

name
name : Gagik
revenue
revenue : 200
city

IndexError: list index out of range

In [10]:
l= [10,20,30,40,50]
for i in l[3:]:
    print(i)

40
50

In [11]:
l[:3]

[10, 20, 30]