In [ ]:
a = 5

In [ ]:
b = a*4
b

## Arithmetic Operations

In [ ]:
r = 1500
t = 0.2


total = r * (1 + t)
total

In [ ]:
2!=3

and or not

In [ ]:
(10>5) and (10<5)

## List

In [ ]:
l = [10,20,30,40]

In [ ]:
l = [10, 'test1234','mest', [40,10], 123, 8.4]

In [ ]:
l[0] =11
l

In [ ]:
alen(l[1])

In [ ]:
len(l)

In [ ]:
l.append(50)

In [ ]:
l = ['data1.csv', 'data2.csv', 'data3.csv']

## Tuple

In [ ]:
t = (10, 12, 13)

## Set

In [ ]:
my_list = [1, 2, 3, 4, 5,5,5,5,5]

In [ ]:
my_set = set(my_list)
my_set

In [ ]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

In [ ]:
a.intersection(b)

## Dictionary

In [ ]:
# key value pairs
customers = {
             'Alice': 25, 
             'Bob': 30, 
             'Charlie': 35,
             'Charlie': 31
             }

In [ ]:
customers['Alice'] = 30

In [ ]:
customers

In [ ]:
customer = {'name': 'Alice', 'age': 30, 'city': 'New York'}
customer['State'] = 'NY'
customer['Segment'] = 'Premium'

In [ ]:
customer1 = customer
customer1

In [ ]:
# Bob
customer2 = {'name': 'Bob', 'age': 25, 'city': 'Los Angeles', 'State': 'CA', 'Segment': 'Standard'}

In [ ]:
# Armen
customer3 = {'name': 'Armen', 'age': 28, 'city': 'Chicago', 'State': 'IL'}

In [ ]:
list_of_customers = [customer1, customer2, customer3]

In [ ]:
list_of_customers

In [ ]:
list(list_of_customers[0].keys())

In [ ]:
l = [10,20,30,40]
d = {'key', 'value'}

## Pandas

In [1]:
# %pip install pandas
import pandas as pd

In [2]:
data = {'name': ['Alice', 'Bob', 'Charlie','David','Armen'], 
        'age': [30, 25, 28, 35, 42], 
        'city': ['New York', 'Los Angeles', 'Chicago', 'Boston', 'San Francisco'],
        'revenue': [10000, 15000, 12000, 20000, 18000],
        'segment': ['Premium', 'Premium', 'Premium', 'Standard', 'Premium'],}

In [3]:
data['name']
data['age']

[30, 25, 28, 35, 42]

In [4]:
df = pd.DataFrame(data)

In [5]:
df_filtered = df[df['age'] > 30]

In [6]:
df.loc[df["revenue"] > 15000,"segment"] = "High Revenue"

In [7]:
df.head()

      name  age           city  revenue       segment
0    Alice   30       New York    10000       Premium
1      Bob   25    Los Angeles    15000       Premium
2  Charlie   28        Chicago    12000       Premium
3    David   35         Boston    20000  High Revenue
4    Armen   42  San Francisco    18000  High Revenue